name: flutter_treeview
description: A hierarchical data widget for flutter
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  random_string: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
